<footer class="page-footer text-center text-md-left elegant-color-dark mt-5">
<div class="container-fluid py-5" style="background-color: #161718;">
    <div class="flex-center">
        <ul class="list-unstyled">
            <li>
                <h2 class="h2-responsive mb-4 mt-5 wow fadeIn">
                    <i class="fas fa-quote-left" aria-hidden="true"></i>
                    Photograpyhy is an art
                    <i class="fas fa-quote-right" aria-hidden="true"></i>

                </h2>
            </li>
            <li>
                <h2 class="font-italic white-text wow fadeIn" data-wow-delay="0.2s">
                    Me
                </h2>
            </li>
        </ul>
    </div>
<!-- Social Media -->
<div class="container mb-2">
    <div class="row">
        <div class="col-md-12 my-4 fadeIn wow" data-wow-delay="0.3s">
            <div class="footer-socials flex-center">
                <!-- Facebook -->
                <a href="#" type="button" class="btn-floating btn-grey">
                    <i class="fab fa-facebook"></i>
                </a>
                 <!-- Twitter -->
                 <a href="#" type="button" class="btn-floating btn-grey">
                    <i class="fab fa-twitter"></i>
                </a>
                 <!-- Instagram -->
                 <a href="#" type="button" class="btn-floating btn-grey">
                    <i class="fab fa-instagram"></i>
                </a>
                 <!-- Snapchat -->
                 <a href="#" type="button" class="btn-floating btn-grey">
                    <i class="fab fa-snapchat"></i>
                </a>
            </div>

        </div>
    </div>
</div>

</div>
<!-- Copyright -->
<div class="footer-copyright py-3 text-center">
    <div class="container-fluid">
        2021 Copyright <a href="#">Chilly Mornings, Coffee and Deodorant</a>
    </div>
</div>
</footer>