<section class="section" >
    <h2 class="font-weight-bold my-5 text-center wow fadeIn" data-wow-delay="0.2s">Gallery</h2>

<div class="container">
<!--First row-->
<div class="row">

  <!--First column-->
  <div class="col-md-12">

    <div id="mdb-lightbox-ui"></div>

    <!--Full width lightbox-->
    <div class="mdb-lightbox">
      {% for img in images %}
      <figure class="col-md-4">
        <a href="{% url 'photo' img.id %}" data-size="781x1172">
          <img src="{{img.image.url}}"  class="img-fluid" alt="{{img.alt}}" style="min-height:370px; max-height:370px; min-width:300px; max-width:300px">
        </a>
      </figure>
      {% endfor %}

      

    </div>
    <!--/Full width lightbox-->

  </div>
  <!--/First column-->

</div>
<!--/First row-->
</div>

</section>


