<header>
    <div class="jarallax" data-jarallax='{"speed":0.2}' 
    style="background-image: url('https://images.unsplash.com/photo-1499343245400-cddc78a01317?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;">
        <div class="mask rgba-black-strong">
            <div class="container h-100 d-flex justify-content-center align-items-center">
                <div class="row smooth-scroll">
                    <div class="col-md-12">
                        <div class="white-text text-center">
                            <h2>Picasso Picassa</h2>
                            <h3>Awe in a Page</h3>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</header>