{% load static %}

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<script src={% static 'js/main.js' %} defer></script>

<script type="text/javascript">
   // MDB Lightbox Init
$(function () {
$("#mdb-lightbox-ui").load("static/mdb-addons/mdb-lightbox-ui.html");
});
</script>